WORK_DIR = /usr/local/mccs/bin
FTP_STAGING_DIR=/usr/local/mccs/data/edi/ftp/856_inbound
FTP_STAGING_DIR_BKUP=/usr/local/mccs/data/edi/ftp/856_inbound_backup
FTP_NORMALIZE_DIR=/usr/local/mccs/data/normalization/e856

MAIL_TO=rdistaff@usmc-mccs.org
MAIL_CC=yuc@usmc-mccs.org|
##rms-analyst@usmc-mccs.org|yuc@usmc-mccs.org|
MAIL_FROM =rdistaff@usmc-mccs.org
POC=rdistaff@usmc-mccs.org

CONNECT_INSTANCE=rms_p

xxREMOTE_SERVER=ftp.spscommerce.net
xxSFTP_USER=marineexch
xxPASSWORD=U2FsdGVkX19FeB+YCpx36Jt+tRgN9a21gc/m8PT51P0=

REMOTE_SERVER=sftp.spscommerce.com
SFTP_USER=mcx
PASSWORD=U2FsdGVkX18CwtERL5t184zbufX/cet73OohOJagnpc=
REMOTE_DIR=/out

RMS_SERVER=draix01.usmc-mccs.org
RMS_SFTP_USER=rdiusr
##RMS_SFTP_PASSWORD=U2FsdGVkX1+nTh0KqocN6sSDUSjjltTN4I/Yvg/EYLU=
RMS_SFTP_PASSWORD=U2FsdGVkX18h4dF/lYNOtKCbDnoDYTt+
RMS_STAGING_DIR=/rmdata/ftp/sps_edi_856
RMS_BACKUP_DIR=/rmdata/ftp/sps_edi_856backup


TABLE_856ASN=rdiusr.edi_856_ack
LOG_DIR=/usr/local/mccs/log/edi/edi_856



