WORK_DIR = /usr/local/mccs/bin
NETLOGIN_ID=test_sftp_package

MAIL_FROM =rdiusr@usmc-mccs.org
MAIL_CC=rdiusr@usmc-mccs.org|mccsediteam@usmc-mccs.org|harlowja@usmc-mccs.org|Reggett.Lawrence@usmc-mccs.org|

LOG_SERVER=draix01.usmc-mccs.org
SFTP_USER=rdiusr
PASSWORD=U2FsdGVkX1+k/F+Cdi4TXPazS9s2KfEP
RMT_LOG_DIR=/rmdata/edi_856_backup2/
RMT_LOG_DIR_BKUP=/rmdata/edi_856_backup2/past_asn_upload_log/
LOG_FILE_PREFIX =asn_upload_
LOCAL_LOG_STG_DIR=/usr/local/mccs/data/edi/ftp/856_error_log/
LOCAL_LOG_ARC_DIR=/usr/local/mccs/data/edi/ftp/856_error_log_bkup/
LOG_DIR=/usr/local/mccs/log/edi/856_error_report/
ASN_BKUP_DIR=/usr/local/mccs/data/edi/ftp/856_inbound_backup/






