WORK_DIR = /usr/local/mccs/bin
FTP_STAGING_DIR=/usr/local/mccs/data/edi/ftp/850_outbound
FTP_STAGING_DIR_BKUP=/usr/local/mccs/data/edi/ftp/850_outbound_backup
RECENT_FLATFILE=/usr/local/mccs/data/edi/ftp/850_outbound_backup/recent_flatfiles

MAIL_TO=rdistaff@usmc-mccs.org
MAIL_CC=rdistaff@usmc-mccs.org
###gonzalezm@usmc-mccs.org|Mike.Thomas@usmc-mccs.org|esg@usmc-mccs.org|rickardj@usmc-mccs.org|Reggett.Lawrence@usmc-mccs.org|rdistaff@usmc-mccs.org|Ashley.Robey@usmc-mccs.org|Janice.Wright@usmc-mccs.org|nora.jansen@usmc-mccs.org|Erica.Wilkins@usmc-mccs.org|
MAIL_FROM =rdiusr@usmc-mccs.org
POC=rdistaff@usmc-mccs.org
PO_SHIPPER_EMAILS=rdistaff@usmc-mccs.org
### |rms-analyst@usmc-mccs.org|goodd@usmc-mccs.org|kimberly.dupriest@usmc-mccs.org|Reggett.Lawrence@usmc-mccs.org|glaesercj@usmc-mccs.org|Mike.Thomas@usmc-mccs.org|Andrea.Scott@usmc-mccs.org|nora.jansen@usmc-mccs.org|Ashley.Robey@usmc-mccs.org|Melissa.Newton@usmc-mccs.org|
CONNECT_INSTANCE=rms_p
FTP_DISABLE=0
REMOTE_SERVER=sftp.spscommerce.com
SFTP_USER=mcx
PASSWORD=U2FsdGVkX18CwtERL5t184zbufX/cet73OohOJagnpc=
REMOTE_DIR=/testin
REMOTE_DIR_PROD=/in


TABLE_EPT=merch.edi_pending_transactions
TABLE_NPS=rdiusr.nex_po_staging
TABLE_PO=merch.purchase_orders
TABLE_NS=nex_stores
TABLE_E8S=rdiusr.edi_850_staging
TABLE_E8VE=rdiusr.EDI_850R_VD_EXPT
TABLE_E8PE=rdiusr.EDI_850_PO_EXCEPTIONS
TABLE_SPECIFIC_REMARKS=merch.specific_remarks
TABLE_SHIP_VIAS=merch.ship_vias
TABLE_SITES=merch.sites
TABLE_TERMS=merch.terms
TABLE_ADDRESS=merch.address
TABLE_STYLE_VENDORS=merch.style_vendors
TABLE_BAR_CODES=merch.bar_codes
VIEW_PO_STYLE_COLOR_ITEMS=merch.v_po_style_color_items
V_PO_STCODISI_SITES=merch.V_PO_STCODISI_SITES
TABLE_PO_IN_HOLD = rdiusr.edi_po_in_hold_t

VIEW_SUM_1=rdiusr.e850_outbound_header
VIEW_SUM_2=rdiusr.e850_outbound_details
VIEW_TYPE_40=rdiusr.e850_type_40
VIEW_TYPE_50=rdiusr.e850_type_50

LOG_DIR=/usr/local/mccs/log/edi/edi_850
M_LOG=/usr/local/mccs/log/edi/manual/
M_RECENT_LOG=/usr/local/mccs/log/edi/edi_850/recent_manual_transmission.log

TEST_INVO_XRETRIVE_DIR=/testout
PROD_INVO_XRETRIVE_DIR=/out
INVO_XSTAGING_DIR=/usr/local/mccs/data/edi/invo_xml_staging
INVO_XARCHIVE_DIR=/usr/local/mccs/data/edi/invo_xml_archive
REDUNDANT_INVO_DIR=/usr/local/mccs/data/edi/invo_xml_staging/redundant
TAG_LIST_TO_IGNORE=/usr/local/mccs/etc/edi_850/tags_to_ignore_for_comparason.txt
INVO_LOG_DIR=/usr/local/mccs/log/edi/edi_fetch_810

HTML_TEMPLATE_FILE=/usr/local/mccs/data/xml/e850_html_template.xml
SPS_XML_TEMPLATE=/usr/local/mccs/etc/edi_850/sps_e850_template.xml
SCHEMA=/usr/local/mccs/data/xml/schema/SPS_850.xsd

TABLE_PROGRAM_STATUS=rdiusr.rdi_program_status
PROGRAM_ID=1
WRAPPER_LOG_DIR=/usr/local/mccs/log/edi/edi_850_wrapper
MAX_PO_SEND=850
TABLE_EDI_850_PO_RESERVED=rdiusr.edi_850_po_reserved
