
LOG_DIR=/usr/local/mccs/log/edi/edi_tms/
FTP_STAGING_DIR=/usr/local/mccs/data/edi/ftp/tms_outbound
FTP_STAGING_DIR_BKUP=/usr/local/mccs/data/edi/ftp/tms_outbound_backup

CONNECT_INSTANCE=rms_p

###REMOTE_SERVER=ftpcry.mercurygate.net
REMOTE_SERVER=landair-mft.mercurygate.net
SFTP_USER=landair
PASSWORD=U2FsdGVkX1+tC5UfN5iTefT/ExvQrJi1lRdCYP7xQ34=
REMOTE_DIR=/Inbound/
REMOTE_DIR_PROD=/Inbound/

TABLE_IPH=merch.iro_po_headers
TABLE_IPD=merch.iro_po_details
TABLE_PO=merch.purchase_orders
TABLE_RMKS=merch.remarks
TABLE_VENDORS=merch.vendors
VIEW_EDI_TMS=RDIUSR.V_EDI_TMS
TABLE_EDI_TMS_PO_TRACKING=rdiusr.edi_tms_po_tracking
NF_ORDER_DATE=20100623


MAIL_TO=rdistaff@usmc-mccs.org
MAIL_CC=rdistaff@usmc-mccs.org|Ashley.Robey@usmc-mccs.org|nora.jansen@usmc-mccs.org|Janice.Wright@usmc-mccs.org|
MAIL_FROM =rdistaff@usmc-mccs.org
POC=rdistaff@usmc-mccs.org|


REMOTE_OUTBOUND=/Outbound/TrackingFile/
COGNOS_HOST_ID=mercury2cognos
COGNOS_INBOUND_DIR=/incoming/landair/
TEMP_TRACK_FILE_DIR=/usr/local/mccs/data/mercurygate_tracking/
TRACK_FILE_END=_Track.csv
COGNOS_SERVER_STR=rdiusr@hqlin079.usmc-mccs.org
